<p id="notice"><%= params[:notice] %></p>

<li><%= link_to 'SQL Request', :action => 'sql', :search_word => @search_word %></li>
<br />
<li><%= link_to 'Active Record', :action => 'arecord', :search_word => @search_word %></li>
